# Getting Financial Data - Google Finance

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [3]:
import pandas as pd

# package to extract data from various Internet sources into a DataFrame
# make sure you have it installed
from pandas_datareader import data, wb

# package for dates
import datetime as dt

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [4]:
start = dt.datetime(2015, 1, 1)

end = dt.datetime(2016, 12, 31)

print(start)
print(end)

2015-01-01 00:00:00
2016-12-31 00:00:00

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [5]:
stocks = ['AAPL', 'TSLA', 'TWTR','IBM']

### Step 4. Read the data from google, assign to df and print it

In [6]:
df = data.DataReader(stocks, 'yahoo', start, end)
df

Attributes  Adj Close                                        Close             \
Symbols          AAPL       TSLA       TWTR         IBM       AAPL       TSLA
Date
2015-01-02  24.678249  43.862000  36.560001  112.178055  27.332500  43.862000
2015-01-05  23.983023  42.018002  36.380001  110.413002  26.562500  42.018002
2015-01-06  23.985283  42.256001  38.759998  108.031799  26.565001  42.256001
2015-01-07  24.321606  42.189999  37.279999  107.325752  26.937500  42.189999
2015-01-08  25.256100  42.124001  39.090000  109.658463  27.972500  42.124001
...               ...        ...        ...         ...        ...        ...
2016-12-23  27.344475  42.667999  16.500000  123.706001  29.129999  42.667999
2016-12-27  27.518131  43.905998  16.610001  124.025040  29.315001  43.905998
2016-12-28  27.400793  43.948002  16.389999  123.320137  29.190001  43.948002
2016-12-29  27.393753  42.936001  16.389999  123.624382  29.182501  42.936001
2016-12-30  27.180204  42.737999  16.299999  123.171715  28.955000  42.737999

Attributes                              High             ...        Low  \
Symbols          TWTR         IBM       AAPL       TSLA  ...       TWTR
Date                                                     ...
2015-01-02  36.560001  154.933075  27.860001  44.650002  ...  35.540001
2015-01-05  36.380001  152.495224  27.162500  43.299999  ...  35.639999
2015-01-06  38.759998  149.206497  26.857500  42.840000  ...  36.040001
2015-01-07  37.279999  148.231354  27.049999  42.956001  ...  37.060001
2015-01-08  39.090000  151.453156  28.037500  42.759998  ...  37.090000
...               ...         ...        ...        ...  ...        ...
2016-12-23  16.500000  159.378586  29.129999  42.689999  ...  16.160000
2016-12-27  16.610001  159.789673  29.450001  44.450001  ...  16.420000
2016-12-28  16.389999  158.881454  29.504999  44.759998  ...  16.290001
2016-12-29  16.389999  159.273422  29.277500  43.840000  ...  16.299999
2016-12-30  16.299999  158.690247  29.299999  43.500000  ...  16.219999

Attributes                   Open                                    \
Symbols            IBM       AAPL       TSLA       TWTR         IBM
Date
2015-01-02  153.919693  27.847500  44.574001  36.230000  154.216064
2015-01-05  152.189301  27.072500  42.910000  36.259998  154.177826
2015-01-06  148.346085  26.635000  42.012001  36.270000  152.648178
2015-01-07  147.256210  26.799999  42.669998  39.099998  150.286804
2015-01-08  148.709366  27.307501  42.562000  37.419998  149.369019
...                ...        ...        ...        ...         ...
2016-12-23  159.130020  28.897499  41.599998  16.340000  159.655838
2016-12-27  159.512421  29.129999  42.976002  16.520000  159.636703
2016-12-28  158.699814  29.379999  44.306000  16.629999  159.933075
2016-12-29  158.699814  29.112499  43.712002  16.389999  158.718933
2016-12-30  158.221802  29.162500  43.259998  16.309999  159.120453

Attributes       Volume
Symbols            AAPL        TSLA        TWTR        IBM
Date
2015-01-02  212818400.0  23822000.0  12062500.0  5779673.0
2015-01-05  257142000.0  26842500.0  15062700.0  5104898.0
2015-01-06  263188400.0  31309500.0  33050800.0  6429448.0
2015-01-07  160423600.0  14842000.0  22675700.0  4918083.0
2015-01-08  237458000.0  17212500.0  19190400.0  4431693.0
...                 ...         ...         ...        ...
2016-12-23   56998000.0  23352500.0  17971900.0  1779455.0
2016-12-27   73187600.0  29578500.0  13040500.0  1461785.0
2016-12-28   83623600.0  18912500.0  13509200.0  1838345.0
2016-12-29   60158000.0  20225000.0  14697900.0  1740021.0
2016-12-30  122345200.0  23213000.0  14014500.0  3088629.0

[504 rows x 24 columns]

### Step 5.  What is the type of structure of df ?

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

### Step 9. Find all the volume traded in the year of 2015

### BONUS: Create your own question and answer it.