In [1]:
import pandas as pd
import numpy as ny

In [2]:
postcode= pd.read_csv('./URLYURI.csv')

In [3]:
del postcode['Unnamed: 0']
postcode.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   URLYURI  51 non-null     object
dtypes: object(1)
memory usage: 536.0+ bytes

In [4]:
postcode.head()

                                             URLYURI
0  https://www.immoweb.be/en/classified/house/for...
1  https://www.immoweb.be/en/classified/house/for...
2  https://www.immoweb.be/en/classified/house/for...
3  https://www.immoweb.be/en/classified/apartment...
4  https://www.immoweb.be/en/classified/house/for...

In [5]:
#https://www.immoweb.be/en/classified/house/for-sale/la-hestre/7170/9651425?searchId=6299a51d92c0a
#pattern = r'https?:\/\/(www\.immoweb\.be/en/classified/house/for-sale)\/?[-a-zA-Z0-9@:%._+~#=]{1,100}\/[0-9]{4}\/[-a-zA-Z0-9@:%._+~#=]w+'

#r'(https?:\/\/(?:www\.)?[-a-zA-Z0-9@:%._+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}[-a-zA-Z0-9()@:%_+.~#?&/=]*)' 


#postcode['Code'] = postcode['URLYURI'].str.extract([0-9]{4}).fillna('')
#postcode

In [7]:
result = postcode.URLYURI.str.extractall(pat = '([0-9]{4}\/)')
result

              0
   match
0  0      4020/
1  0      1030/
2  0      1082/
3  0      8000/
4  0      4020/
5  0      5561/
6  0      6800/
7  0      1601/
8  0      1702/
9  0      1933/
10 0      6800/
11 0      7912/
12 0      1325/
13 0      9551/
14 0      4218/
15 0      1450/
16 0      9600/
17 0      4570/
18 0      1070/
19 0      4610/
20 0      4870/
21 0      9170/
22 0      1140/
23 0      1570/
24 0      1000/
25 0      4100/
26 0      4540/
27 0      8780/
28 0      9600/
29 0      9600/
30 0      4280/
31 0      2560/
32 0      2200/
33 0      1050/
34 0      4960/
35 0      3018/
36 0      9200/
37 0      1800/
38 0      4020/
39 0      1030/
40 0      1082/
41 0      8000/
42 0      4020/
43 0      5561/
44 0      6800/
45 0      1601/
46 0      1702/
47 0      1933/
48 0      6800/
49 0      7912/
50 0      1325/